*{
    margin: 0;
    padding: 0;
}
body{
    background: url(/IMG/bg1.jpg);
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-size: 20px;
    color: rgb(204, 197, 197);
    margin-right: 20%;
    margin-left: 20%;
}
h2{
    padding-top: 5px;
    color: #aca3a8;
}
h1{
    padding-top: 5px;
    color: #aca3a8;
    margin-left: 46%;
}
.contactus{
    margin-top: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    padding: 70px -30px;
    width: 250px;
    height: 204px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #5d5d5d;
    border-radius: 10px;
    color: rgb(214, 209, 209);
    background: #5d4954;  
    font-size: 14px;
    font-weight: bold;
    
    transform: translate(-50%,-50%);
}
.contactus h2{
    text-align: center;
    color:rgb(214, 209, 209);

}
input[type="submit"]{
    width: 180px;
    border-radius: 20px;
    border: none;
    outline: none;
    height: 30px;
    align-items: center;
    font-size: 15px;
}
input[type="submit"]:hover{
    background: url(/IMG/bg1.jpg);
    opacity: 0.6;
    color: white;
    font-size: 15px;
}
